In [46]:
#this notebook to upload excels to database

In [66]:
import pandas as pd

In [67]:
import sqlite3

In [68]:
conn  = sqlite3.connect("db.sqlite3")

In [69]:
# uploading employee data

In [70]:
df = pd.read_excel('project_data\employee data.xlsx')

In [71]:
df.rename(
    columns={
        "PTC ID":"ptc_id",
        "NAME":"employee_name",
        "ID NUMBER":"ID_number"
    },inplace=True
)

In [72]:
df.to_sql('website_employee', conn, index=False, if_exists='replace')

304

In [73]:
conn.close()

In [62]:
df.head()

   ptc_id                          employee_name   ID_number
0   12041       RUKSHAN SUMITH W W ARACHCHILLAGE  2511259174
1   12048  SUYAMA PATHMAKUMARA K A MUDIYANSELAGE  2511293777
2   12056                          TRIVON CRASLY  2511295103
3   12052      DUMITH RAVINDRA H H MUDIYANSELAGE  2511295442
4   12042          MOHAMED HISHAM MOHAMED HASSAN  2511295913

In [63]:
import pandas as pd
from sqlalchemy import create_engine

# Replace these values with your MySQL database connection details
mysql_username = 'root'
mysql_password = 'your_password'
mysql_host = 'viaduct.proxy.rlwy.net'
mysql_port = 57604
mysql_database = 'railway'

# Create a MySQL connection string
mysql_url = "mysql://root:g5a1FF1b61E4g15GdE-53gAGc2bEBF3A@viaduct.proxy.rlwy.net:57604/railway"

# Create a SQLAlchemy engine
engine = create_engine(mysql_url)


df.to_sql('website_employee', engine, index=False, if_exists='append')

# Close the connection
engine.dispose()

In [65]:
df[df['ptc_id']==10088]

     ptc_id                          employee_name   ID_number
178   10088  MUHAMMAD TOSIF ANJAM MUHAMMAD SADDEEQ  2466498579

In [1]:
## reading violation data

In [3]:
import pandas as pd

In [7]:
v_df = pd.read_excel(r"project_data\Violation form manually.xlsx")

In [8]:
v_df.head()

,رقم المخالفة,وصف حالة المخالفة,وصف حالة المخالفة.1,رقم هوية المخالف,الرقم التسلسلي,لوحة المركبة,نوع تسجيل اللوحة,المبلغ الاجمالي للمخالفة,مدينة وقوع المخالفة,مكان وقوع المخالفة,تاريخ المخالفة بالهجري,تاريخ دفع المخالفة بالهجري,تاريخ دفع المخالفة بالميلادي,وقت المخالفة,مبلغ المخالفة,تفاصيل المخالفة بالعربي,تفاصيل المخالفة بالانجليزي
0,6403617633,غير مسددة,UNPAID VIOLATION,7009243952,970433710,أ ر س 5357,نقل خاص,150,الرياض,جوال 555527863-Traffic,1445-06-06,NaN,NaN,17:06,150,تجاوز السرعة المحددة بأكثر من 10 الى 20 كم/س -...,تجاوز السرعة المحددة بأكثر من 10 الى 20 كم/س -...

In [10]:
v_df.columns

Index(['رقم المخالفة', 'وصف حالة المخالفة', 'وصف حالة المخالفة.1',
       'رقم هوية المخالف', 'الرقم التسلسلي', 'لوحة المركبة',
       'نوع تسجيل اللوحة', 'المبلغ الاجمالي للمخالفة', 'مدينة وقوع المخالفة',
       'مكان وقوع المخالفة', 'تاريخ المخالفة بالهجري',
       'تاريخ دفع المخالفة بالهجري', 'تاريخ دفع المخالفة بالميلادي',
       'وقت المخالفة', 'مبلغ المخالفة', 'تفاصيل المخالفة بالعربي',
       'تفاصيل المخالفة بالانجليزي'],
      dtype='object')

In [ ]:
class Violation(models.Model):
    violation_id = models.CharField(max_length=255, primary_key=True)
    violation_date = models.DateField()
    time = models.TimeField()
    bus_panel = models.CharField(max_length=255)
    Amount = models.DecimalField(max_digits=8, decimal_places=2)
    Violation_type = models.TextField()
    violation_type_arabic = models.TextField()
    employee = models.ForeignKey(Employee, on_delete=models.CASCADE,null=True,blank=True)
    pdf = models.ForeignKey(PDF, on_delete=models.CASCADE,null=True,blank=True)