In [46]:
#this notebook to upload excels to database

In [1]:
import pandas as pd
import mysql.connector
import sqlite3

# Connect to db

In [2]:
sqlite_database = 'db.sqlite3'
try:
    connection = sqlite3.connect(sqlite_database)
    if connection:
        print("Connected to SQLite database")

except sqlite3.Error as err:
    print(f"Error: {err}")

finally:
    # Close the connection when done
    if 'connection' in locals() and connection:
        connection.close()
        print("Connection closed")

Connected to SQLite database
Connection closed

In [8]:
try:
    connection = sqlite3.connect(sqlite_database)
    if connection:
        print("Connected to SQLite database")

except sqlite3.Error as err:
    print(f"Error: {err}")

finally:
    # Close the connection when done
    if 'connection' in locals() and connection:
        connection.close()
        print("Connection closed")

Connected to SQLite database
Connection closed

In [4]:
df = pd.read_excel(r"E:\Repository\traffic violation web app\project_data\employee data.xlsx")

In [5]:
df.rename(
    columns={
        "PTC ID":"ptc_id",
        "NAME":"employee_name",
        "ID NUMBER":"ID_number"
    },inplace=True
)

In [6]:
try:
    connection = sqlite3.connect(sqlite_database)

    if connection:
        print("Connected to SQLite database")
        cursor = connection.cursor()

        for i, row in df.iterrows():
            query = f"""
                INSERT INTO website_employee (ptc_id, employee_name, ID_number)
                VALUES (?, ?, ?);
            """
            cursor.execute(query, (row['ptc_id'], row['employee_name'], row['ID_number']))

        connection.commit()

except sqlite3.Error as err:
    print(f"Error: {err}")

finally:
    # Close the connection when done
    if 'connection' in locals() and connection:
        connection.close()
        print("Connection closed")

Connected to SQLite database
Connection closed

# Add vehicles data

In [7]:
df = pd.read_excel(r"vehicle_data.xlsx",sheet_name="Sheet2")
df.head()

   SR plate_eng    plate_ar  fleet_no vehicle_user
0   1   8541GDB  أ س م 4644     21001   East Depot
1   2   3499DRA  أ ر د 3499     21002   West Depot
2   3   3479DRA  أ ر د 3479     21003   West Depot
3   4   3475DRA  أ ر د 3475     21004   East Depot
4   5   6877BRA  أ ر ب 6877     21005   West Depot

In [8]:

# Establish a connection
try:
    connection = sqlite3.connect(sqlite_database)

    if connection:
        print("Connected to SQLite database")
        cursor = connection.cursor()

        table_name = "website_vehicle"

        for i, row in df.iterrows():
            query = f"""
                INSERT INTO website_vehicle (fleet_no, vehicle_user, plate_eng, plate_ar, vehicle_type)
                VALUES ('{row['fleet_no']}', '{row['vehicle_user']}', '{row['plate_eng']}', '{row['plate_ar']}', 'Bus');
            """
            cursor.execute(query)

        connection.commit()

        print("Vehicle data successfully updated")

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    # Close the connection when done
    connection.close()
    print("Connection closed")

Connected to SQLite database
Vehicle data successfully updated
Connection closed

# Delete all vehicle data

In [25]:

# Establish a connection
try:
    connection = mysql.connector.connect(
        user=mysql_username,
        password=mysql_password,
        host=mysql_host,
        port=mysql_port,
        database=mysql_database
    )

    if connection.is_connected():
        print("Connected to MySQL database")
        cursor = connection.cursor()

        table_name = "website_vehicle"

        delete_query = f"DELETE FROM {table_name}"

        cursor.execute(delete_query)


except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    # Close the connection when done
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("Connection closed")

Connected to MySQL database
[]
Connection closed

# View all vehicle data

In [16]:
# Establish a connection
try:
    connection = mysql.connector.connect(
        user=mysql_username,
        password=mysql_password,
        host=mysql_host,
        port=mysql_port,
        database=mysql_database
    )

    if connection.is_connected():
        print("Connected to MySQL database")
        cursor = connection.cursor()

        table_name = "website_vehicle"
        query = f"SELECT * FROM website_vehicle"
        cursor.execute(query)
        res = cursor.fetchall()
        vehicle_df = pd.DataFrame(res)


except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    # Close the connection when done
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print("Connection closed")

Connected to MySQL database
Connection closed

In [17]:
vehicle_df.head()

       0                    1        2           3    4
0    401  MOBILE WORKSHOP ENG  2808HRB  ب ر ه 2808  Bus
1    402  MOBILE WORKSHOP ENG  2842HRB  ب ر ه 2842  Bus
2  42193           East Depot  3053ERA  أ ر ع 3053  Bus
3  42075           East Depot  3054ERA  أ ر ع 3054  Bus
4  32183           East Depot  3055ERA  أ ر ع 3055  Bus

In [12]:
dff = pd.read_excel(r"E:\Repository\traffic violation web app\project_data\Violation list.xlsx")

In [13]:
dff.head()

,المخالفة بالعربية,English violation,Amount
0,وقوف المركبة في اماكن غير مخصصة للوقوف,ILLEGAL PARKING,100
1,عدم ربط حزام الامان - رصد آلي,Not Wearing a Seatbelt - Auto Detection,150
2,استخدام السائق بيده أي جهاز محمول اثناء سير ال...,Driver Using Any Handheld Device While Driving...,500
3,القيادة على أكتاف الطريق/الأرصفة/المسارات المم...,Driving on Shoulders of the Road/sidewalks/pat...,1000
4,تجاوز اشارة المرور الضوئية اثناء الضوء الاحمر ...,Crossing a Red Traffic Light - Auto Detection,3000